/*CSS select */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Generics */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F8FA;
    font-size: 16px;
}

/* header */

h1 {
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
    line-height: 50%;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
    padding: 10px 0px 10px 20px;
}

#header-container {
    background-color: #fff;
}

/* main */

.container {
    width: 80%;
    margin: 0 auto;
}

.button-selection {
    background-color: #fff;
    margin-top: 50px;
    padding: 10px 5px 5px 40px;
    border-radius: 5px 5px 0 0;
}

.button-select {
    background-color: #fff;
    border: #bfbfbf solid 1px;
    color: #bfbfbf;
    border-radius: 5px;
    padding: 5px;
}

.pressed {
    background-color: #45ACEE;
    color: #fff;
}

/* Task list */

ul {
    list-style: none;
}

li {
    padding: 10px;
}

.future-plan {
    background-color: #fff;
    margin-top: 5px;
    border-radius: 0 0 5px 5px;
    padding: 10px 5px 5px 40px;
}

/* check & cross */

.box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 50%;
    line-height: 15px;
    vertical-align: middle;

}

.check {
    color: green;
}

.cross {
    color: red;

}